.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 300px;
  text-align: center;
  display: none; /* Hide all cards by default */
}

.person-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.person-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.person-details {
  margin-bottom: 10px;
}

.card.active {
  display: block; /* Display the active card */
  border: 2px solid #4287f5; /* Border color for active card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow for active card */
}

.card.active .person-image {
  border: 4px solid #4287f5; /* Border color for the person image on the active card */
}

.card.active .person-name {
  color: #4287f5; /* Text color for the person name on the active card */
  font-weight: bold; /* Bold font weight for the person name on the active card */
}

.card.active .person-details {
  color: #4287f5; /* Text color for the person details on the active card */
}

